.fillEyeIcon,
.fillHeartIcon {
  width: 34px;
  height: 34px;
  position: relative;
}
.fillHeartParent {
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.ideapadGaming3i01500x5001Icon {
  position: absolute;
  width: calc(100% - 18px);
  top: 0;
  right: 9px;
  left: 9px;
  max-width: 100%;
  overflow: hidden;
  height: 180px;
  object-fit: cover;
}
.ideapadGaming3i01500x5001Wrapper {
  position: absolute;
  top: calc(50% - 90px);
  left: calc(50% - 95px);
  width: 190px;
  height: 180px;
  overflow: hidden;
  z-index: 1;
}
.cart1 {
  align-self: stretch;
  height: 250px;
  position: relative;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  overflow: hidden;
  flex-shrink: 0;
}
.asusFhdGaming,
.div {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.div {
  display: inline-block;
  min-width: 40px;
  white-space: nowrap;
}
.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.vectorIcon,
.vectorIcon1,
.vectorIcon2,
.vectorIcon3,
.vectorIcon4 {
  height: 20px;
  width: 20px;
  position: relative;
  border-radius: var(--br-11xs-4);
  min-height: 20px;
}
.fiveStar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.div1 {
  position: relative;
  line-height: 21px;
  font-weight: 600;
  display: inline-block;
  min-width: 40px;
}
.fiveStarParent {
  flex-direction: row;
  align-items: flex-start;
  font-size: var(--title-14px-regular-size);
  color: var(--color-gray-600);
}
.asusFhdGamingLaptopParent,
.cart,
.fiveStarParent,
.frameParent {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.frameParent {
  flex-direction: row;
  align-items: center;
  color: var(--secondary-2);
}
.asusFhdGamingLaptopParent,
.cart {
  flex-direction: column;
  align-items: flex-start;
}
.cart {
  flex: 1;
  gap: var(--gap-base);
  min-width: 248px;
  max-width: 270px;
  text-align: left;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-16px-regular);
}
