.exclusive {
  text-decoration: none;
  position: relative;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 119px;
  flex-shrink: 0;
  debug_commit: 448091;
  white-space: nowrap;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.home {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 48px;
  cursor: pointer;
}
.header1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 66px;
}
.header2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.about {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 48px;
}
.header3 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.signUp {
  text-decoration: none;
  position: relative;
  line-height: 24px;
  color: inherit;
  display: inline-block;
  min-width: 61px;
  white-space: nowrap;
}
.header4,
.navigation {
  flex-direction: row;
  justify-content: flex-start;
}
.header4 {
  display: flex;
  align-items: flex-start;
}
.navigation {
  gap: var(--gap-29xl);
  text-align: center;
  font-size: var(--title-16px-regular-size);
  color: var(--button);
  font-family: var(--title-16px-regular);
}
.headerElements,
.logoSearch,
.navigation {
  margin: 0;
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.logoSearch {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--heading-24px-bold-size);
  color: var(--button);
  font-family: var(--heading-24px-bold);
}
.headerElements {
  width: 645px;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-6xs) 0 0;
  box-sizing: border-box;
}
.whatAreYou {
  width: calc(100% - 24px);
  border: 0;
  outline: 0;
  font-family: var(--title-16px-regular);
  font-size: var(--title-12px-medium-size);
  background-color: transparent;
  height: 18px;
  flex: 1;
  position: relative;
  line-height: 18px;
  color: var(--color-gray-600);
  text-align: left;
  display: inline-block;
  min-width: 92px;
  white-space: nowrap;
  padding: 0;
}
.component2Icon {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.searchComponentSet,
.searchInput {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchInput {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-15xl);
}
.searchComponentSet {
  flex: 1;
  border-radius: var(--br-9xs);
  background-color: var(--secondary);
  flex-direction: column;
  padding: var(--padding-6xs) var(--padding-xs) var(--padding-6xs)
    var(--padding-xl);
}
.wishlistIcon {
  position: absolute;
  height: 56.25%;
  width: 62.5%;
  top: 21.88%;
  right: 18.75%;
  bottom: 21.88%;
  left: 18.75%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.frameChild {
  position: absolute;
  height: 94.12%;
  width: 100%;
  top: 5.88%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--secondary-2);
}
.cartItemCount,
.ellipseParent {
  position: absolute;
  width: 50%;
  top: 0;
  z-index: 1;
}
.cartItemCount {
  text-decoration: none;
  height: 105.88%;
  left: 25%;
  line-height: 18px;
  color: inherit;
  display: inline-block;
  min-width: 8px;
}
.ellipseParent {
  height: 53.13%;
  right: 0;
  bottom: 46.88%;
  left: 50%;
}
.wishlist {
  height: 32px;
  flex: 1;
  position: relative;
  overflow: hidden;
}
.cart1WithBuy,
.userIcon {
  height: 32px;
  width: 32px;
  position: relative;
  min-height: 32px;
}
.userIcon {
  overflow: hidden;
  flex-shrink: 0;
}
.searchUser,
.userActions {
  width: 128px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-base);
}
.searchUser {
  width: 395px;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
}
.header,
.pageHeader {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.header {
  width: 1170px;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.pageHeader {
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}
.mainContent,
.mainContentChild,
.pageHeader {
  align-self: stretch;
  max-width: 100%;
}
.mainContentChild {
  position: relative;
  overflow: hidden;
  max-height: 100%;
  margin-top: -1px;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  text-align: center;
  font-size: var(--title-12px-medium-size);
  color: var(--text);
  font-family: var(--title-16px-regular);
}
@media screen and (max-width: 1050px) {
  .navigation {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .searchInput {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .navigation {
    gap: var(--gap-5xl);
  }
}
